body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#playlist-view, #current-song-view  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 20px;
}

#playlist-view img, #current-song-view img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 8px;
}

#controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="range"] {
    width: 100%;
    margin: 0 10px;
}

#music-player {
    width: 100%;
}
